@model Factory.Models.Machine


<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input class="myCssClass" type="submit" value="Add a new Machine" />
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
