@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Edit Engineer</h2>

<h4>Edit this Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { required = "required" })

  @* @Html.LabelFor(model => model.DateHired)
  @Html.TextBoxFor(model => model.DateHired, new { type = "date", required = "required" }) *@

  <input class = "myCssClass" type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Engineers", "Index")</p>
